<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Category</title>
    <!-- Import semantic ui and my css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/blog.css" th:href="@{/css/blog.css}">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css"
          th:href="@{/lib/editormd/css/editormd.min.css}">
</head>
<body>

<!-- Navigation -->
<nav class="ui inverted attached segment index-padding-tb-soft" th:replace="admin/_fragments :: active(2)">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">
                <img class="ui rounded image" src="../../static/image/kw-logo.png" th:src="@{/image/kw-logo.png}"
                     alt="logo">
            </h2>
            <a href="#" class="mobile-item item"><i class="mini home icon"></i>Home</a>
            <a href="#" class="active mobile-item item"><i class="mini idea icon"></i>Categories</a>
            <a href="#" class="mobile-item item"><i class="mini tags icon"></i>Tags</a>

            <div class="right menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/100/100/?random" alt="user avatar" class="ui avatar image">
                        User
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">Logout</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>


<!-- Main body -->
<div class="index-padding-tb-strong index-container">
    <div class="ui container">

        <form action="#" method="POST"  th:object="${category}" th:action="*{id}==null ? @{/admin/category} : @{/admin/category/{id}(id=*{id})} "  class="ui form">
            <input type="hidden" name="id" th:value="*{id}">
            <div class="ui orange segment">

                <div class="required field">
                    <div class="ui left labeled input">
                        <label class="ui blue basic label">Category Name :</label>
                        <input type="text" name="name" placeholder="Category Name" th:value="*{name}">
                    </div>
                </div>

                <div class="ui error message"></div>



                <div class="ui right aligned container">
                    <button class="ui button" type="button" onclick="window.history.go(-1)">Back</button>
                    <button class="ui orange submit button" type="button">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- import jquery and semantic ui js -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<!--function-->
<script>
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'name',
                rules: [{
                    type: 'empty',
                    prompt: 'Category Name Empty'
                }]
            }
        }
    });
</script>
</body>
</html>