<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Import semantic ui and my css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.4/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/blog.css">
</head>
<body>
<!-- Navigation -->
<nav class="ui inverted attached segment index-padding-tb-soft" th:replace="admin/_fragments :: active(1)">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">
                <img class="ui rounded image" src="../../static/image/kw-logo.png" alt="logo">
            </h2>
            <a href="#" class="active mobile-item item"><i class="mini home icon"></i>Home</a>
            <a href="#" class="mobile-item item"><i class="mini idea icon"></i>Categories</a>
            <a href="#" class="mobile-item item"><i class="mini tags icon"></i>Labels</a>

            <div class="right menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/100/100/?random" alt="user avatar" class="ui avatar image">
                        User
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">Logout</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

<br>
<br>
<br>
<br>
<br>
<div class="ui container">
    <div class="success message">
        <h1 style="color: #e7e7e7; !important;">Welcome Back...</h1>
    </div>
</div>

<!-- import jquery and semantic ui js -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</body>
</html>