<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>404 NOT FOUND</title>
</head>
<body>
    <nav th:replace="_fragments :: active(1)"></nav>
    <div style="color: #f8f8f8; height: 720px !important; padding-top: 3em !important; margin: 0 auto !important; text-align: center !important;">
        <h2>--- 404 NOT FOUND ---</h2>
        <p style=" font-size: 2em !important;">Something disappeared, missing, or gone...</p>
    </div>
    <footer th:replace="_fragments :: footer"></footer>
</body>
</html>