<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <!-- Import semantic ui and my css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/blog.css" th:href="@{css/blog.css}">
</head>
<body>

    <!-- Navigation -->
    <nav class="ui inverted attached segment index-padding-tb-soft" th:replace="_fragments :: active(5)">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">
                    <img class="ui rounded image" src="../static/image/kw-logo.png" alt="logo">
                </h2>
                <a href="#" class="active mobile-item item index-mobile-hide"><i class="mini home icon"></i>Home</a>
                <a href="#" class="mobile-item item index-mobile-hide"><i class="mini idea icon"></i>Categories</a>
                <a href="#" class="mobile-item item index-mobile-hide"><i class="mini tags icon"></i>Tags</a>
                <a href="#" class="mobile-item item index-mobile-hide"><i class="mini clone icon"></i>Archives</a>
                <a href="#" class="mobile-item item index-mobile-hide"><i class="mini info icon"></i>About</a>
                <div class="right item index-mobile-hide">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search?">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button index-top-right index-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!-- Main body -->
    <div class="index-padding-tb-strong index-container">
        <div class="ui container">
            <div class="ui grid stackable">
                
                <!--Left side-->
                <div class="eleven wide column center aligned">
                    <img src="https://picsum.photos/500/500/?random" alt="my photo">
                </div>
                
                <!--Right side-->
                <div class="five wide column">

                    <!--About Header-->
                    <div class="ui top attached segment">
                        <div class="ui header">
                            Kamikid.Me
                        </div>
                    </div>

                    <!--Statement-->
                    <div class="ui orange attached segment">
                        <p>Lerom ipsum</p>
                    </div>

                    <!--Interests-->
                    <div class="ui attached segment">
                        <p>Interests:</p>
                        <div class="ui blue basic label index-margin-tb-easy">
                            Eat
                        </div>
                        <div class="ui blue basic label index-margin-tb-easy">
                            Game
                        </div>
                        <div class="ui blue basic label index-margin-tb-easy">
                            Hike
                        </div>
                    </div>

                    <!--Skills-->
                    <div class="ui attached segment">
                        <p>Skills:</p>
                        <div class="ui orange basic label index-margin-tb-easy">
                            SQL
                        </div>
                        <div class="ui orange basic label index-margin-tb-easy">
                            Front-End
                        </div>
                        <div class="ui orange basic label index-margin-tb-easy">
                            Java
                        </div>
                    </div>

                    <!--Contact-->
                    <div class="ui attached segment">
                        <p>Contact:</p>
                        <a href="https://github.com/KamikidFu" target="_blank" class="ui circular icon button"><i class="github icon"></i></a>
                        <a href="https://www.linkedin.com/in/kamikid/" target="_blank" class="ui circular icon button"><i class="linkedin icon"></i></a>
                        <a href="mailto:kidfu@live.com" class="ui circular icon button"><i class="mail icon"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- Footer -->
    <footer class="ui inverted vertical segment index-footer-text-style" th:replace="_fragments :: footer">
            <div class="ui inverted section divider"></div>
            <p class="index-opacity-soft">Copyright © 2019 Kamikid's Blog</p>
            <p class="index-opacity-soft">Designed by Kamikid with Semantic UI</p>
        </div>
    </footer>

    <!-- import jquery and semantic ui js -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <!--Hamburger button function-->
    <script>
        $('.menu.toggle').click(function () {
                    $('.mobile-item').toggleClass("index-mobile-hide");

        })
    </script>
</body>
</html>