<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Kamikid's Blog</title>
    <!-- Import semantic ui and my css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/blog.css" th:href="@{css/blog.css}">
</head>
<body>


<header th:replace="_fragments :: active(5)">
</header>

    <!-- Main body -->
    <main class="index-padding-tb-strong index-container" role="main">
        <div class="ui container">
            <div class="ui grid stackable">

                
                <!--Right side-->
                <article class="sixteen wide column" role="article">

                    <!--About Header-->
                    <header class="ui top attached segment">
                        <h3 class="ui header">
                            Kamikid.Me
                        </h3>
                    </header>

                    <!--Statement-->
                    <section class="ui orange attached segment">
                        <p>Well, briefing? I am a learner. </p>
                        <p>I am a life-long learner. I believe there is no end of technology innovations and what I dedicate to do is follow the streams and make myself dive into them. I have the awareness and intention to equip myself with more interdisciplinary knowledge, and it will help me to come up with brand new ideas for sustained innovation.</p>
                        <p>I am another enthusiast who is new to Spring Boot framework. The blog cannot be constructed and developed without help from those online not-met-yet teachers who would like to guide beginners, share knowledge and creative solutions.</p>
                        <p>Yours Faithfully,</p>
                        <p>Kamikid</p>
                    </section>

                    <!--Interests-->
                    <section class="ui attached segment">
                        <p>Interests: <span style="font-style: italic; font-size: xx-small; !important;"> - Or even Desires maybe</span></p>
                        <label class="ui blue basic label index-margin-tb-easy">
                            UI & UX Design
                        </label>
                        <label class="ui blue basic label index-margin-tb-easy">
                            Eating & Cooking Food
                        </label>
                        <label class="ui blue basic label index-margin-tb-easy">
                            Pure Music
                        </label>
                        <label class="ui blue basic label index-margin-tb-easy">
                            Cats
                        </label>
                        <label class="ui blue basic label index-margin-tb-easy">
                            Co-op Games
                        </label>
                        <label class="ui blue basic label index-margin-tb-easy">
                            Volunteer
                        </label>
                        <label class="ui blue basic label index-margin-tb-easy">
                            Learning
                        </label>
                    </section>

                    <!--Skills-->
                    <section class="ui attached segment">
                        <p>Experienced Skills:</p>
                        <label class="ui orange basic label index-margin-tb-easy">
                            Full-Stack Application Development
                        </label>
                        <label class="ui orange basic label index-margin-tb-easy">
                            Data Analyst
                        </label>
                        <label class="ui orange basic label index-margin-tb-easy">
                            Java
                        </label>
                        <label class="ui orange basic label index-margin-tb-easy">
                            SQL
                        </label>
                        <label class="ui orange basic label index-margin-tb-easy">
                            C#
                        </label>
                        <label class="ui orange basic label index-margin-tb-easy">
                            git
                        </label>
                        <label class="ui orange basic label index-margin-tb-easy">
                            3D Modelling
                        </label>
                        <label class="ui orange basic label index-margin-tb-easy">
                            Digital Publish
                        </label>
                        <label class="ui orange basic label index-margin-tb-easy">
                            Python
                        </label>
                        <label class="ui orange basic label index-margin-tb-easy">
                            Time Management
                        </label>
                    </section>

                    <!--Contact-->
                    <section class="ui attached segment">
                        <p>Contact:</p>
                        <a href="https://github.com/KamikidFu" target="_blank" class="ui circular icon button"><i class="github icon"></i></a>
                        <a href="https://www.linkedin.com/in/kamikid/" target="_blank" class="ui circular icon button"><i class="linkedin icon"></i></a>
                        <a href="mailto:kidfu@live.com" class="ui circular icon button"><i class="mail icon"></i></a>
                    </section>
                </article>
            </div>
        </div>
    </main>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- Footer -->
    <footer class="ui inverted vertical segment index-footer-text-style" th:replace="_fragments :: footer">
    </footer>

    <!-- import jquery and semantic ui js -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <!--Hamburger button function-->
    <script>
        $('.menu.toggle').click(function () {
                    $('.mobile-item').toggleClass("index-mobile-hide");

        })
    </script>
</body>
</html>