<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archive - Kamikid's Blog</title>
    <!-- Import semantic ui and my css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/blog.css" th:href="@{css/blog.css}">
</head>
<body>

<header th:replace="_fragments :: active(4)">
</header>

<!-- Main body -->
<main class="index-container index-padding-tb-strong">
    <div class="ui container">

        <!--Archives Header-->
        <header class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h2 class="ui blue header">Archives</h2>
                </div>
                <div class="right aligned column">
                    Totally <h2 class="ui orange header index-inline-block" th:text="${blogCount}">14</h2>
                </div>
            </div>
        </header>

        <!--Yearly Archive Body-->
        <th:block th:each="yearly : ${archiveMap}">
            <section class="ui attached orange segment">

                <!--Year Title-->
                <h2 class="ui center aligned header" th:text="${yearly.key}">2017</h2>

                <!--Blog Menu-->
                <ul class="ui fluid vertical menu ">

                    <!--Single Blog-->
                    <li th:each="blog : ${yearly.value}">
                    <a href="#" class="item"  th:href="@{/blog/{id}(id=${blog.id})}">
                    <span>
                        <span th:text="${blog.title}">Title</span>
                        <div class="ui blue basic left pointing label"
                             th:text="${#dates.format(blog.updateTime,'dd MMM')}">1 Sep</div>
                    </span>
                        <div class="ui blue basic label blog-content-padding-tb-normal" th:text="${blog.flag}">
                            Original
                        </div>
                    </a>
                    </li>
                </ul>
            </section>
        </th:block>


    </div>
</main>
<!--When not to many content found, set the placeholder-->
<div th:if="${blogCount}<5">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<!-- Footer -->
<footer class="ui inverted vertical segment index-footer-text-style" th:replace="_fragments :: footer">
</footer>

<!-- import jquery and semantic ui js -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>


<!--Hamburger button function-->
<script>
    $('.menu.toggle').click(function () {
        $('.mobile-item').toggleClass("index-mobile-hide");

    })
</script>
</body>
</html>