<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <!-- Import semantic ui and my css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/blog.css">
</head>
<body>

    <!-- Navigation -->
    <nav class="ui inverted attached segment index-padding-tb-soft"  th:replace="_fragments :: active(3)">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">
                    <img class="ui rounded image" src="../static/image/kw-logo.png" alt="logo">
                </h2>
                <a href="index.html" class="mobile-item item index-mobile-hide"><i class="mini home icon"></i>Home</a>
                <a href="#" class="mobile-item item index-mobile-hide"><i class="mini idea icon"></i>Categories</a>
                <a href="#" class="active mobile-item item index-mobile-hide"><i class="mini tags icon"></i>Tags</a>
                <a href="#" class="mobile-item item index-mobile-hide"><i class="mini clone icon"></i>Archives</a>
                <a href="#" class="mobile-item item index-mobile-hide"><i class="mini info icon"></i>About</a>
                <div class="right item index-mobile-hide">
                    <div class="ui icon input">
                        <input type="text" placeholder="Search?">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button index-top-right index-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!-- Main body -->
<div class="index-container index-padding-tb-strong">
    <div class="ui container">

        <!--Label Header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui blue header">Tags</h3>
                </div>
                <div class="right aligned column">
                    Totally <h2 class="ui orange header index-inline-block" th:text="${page.totalElements}">14</h2>
                </div>
            </div>
        </div>

        <!--Tag Pool-->
        <div class="ui bottom attached orange segment index-padding-tb-normal">
            <a href="#" class="ui left pointing label index-margin-tb-easy" th:each="tag : ${tags}" th:text="${tag.name}" th:classappend="${tag.id==activeTypeId} ? 'blue'" th:href="@{/tag/{id}(id=${tag.id})}">
                Label<div class="detail"th:text="${#arrays.length(tag.blogs)}">10</div>
            </a>
        </div>

        <!--Show Related Blogs-->
        <div class="ui top attached orange segment">
            <!--Single Blog-->
            <div class="ui padded vertical segment">
                <div class="ui padded vertical segment index-padding-tb-normal">
                    <div class="ui mobile stackable">
                        <div class="ui reversed grid"  th:each="blog : ${page.content}">
                            <div class="eleven wide column">
                                <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}"
                                                         class="index-color-black"
                                                         th:text="${blog.title}">Title</a></h3>
                                <p th:text="|${blog.description}|">Paragraph lorem ipsum</p>
                                <div class="ui middle aligned grid">
                                    <div class="row">
                                        <div class="twelve wide column">
                                            <div class="ui horizontal link list">
                                                <div class="item">
                                                    <img src="#" th:src="@{${blog.user.avatar}}" alt="user avatar"
                                                         class="ui avatar image">
                                                    <div class="content">
                                                        <a href="#" class="header index-user-name-text-style">
                                                            <span th:text="${blog.user.nickName}">UserName</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i><span
                                                        th:text="${#dates.format(blog.updateTime, 'dd-MM-yyyy')}">2019-02-04</span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i><span
                                                        th:text="${blog.view}">100</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="column">
                                            <a href="#"
                                               class="ui label blue basic index-padding-soft index-opacity-soft"
                                               th:text="${blog.category.name}">Category</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}">
                                    <img th:src="@{${blog.featurePicture}}" alt="Content"
                                         class="ui rounded image" style="width: 250px; height:125px !important;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Bottom Navigation-->
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid" th:if="${page.totalPages}>1">
                <div class="column">
                    <a href="#" class="ui blue basic button"th:href="/{page=${page.number}-1}"
                       th:unless="${page.first}">Prev</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui blue basic button"th:href="/{page=${page.number}+1}"
                       th:unless="${page.last}">Next</a>
                </div>
            </div>
        </div>


    </div>
</div>

    <!-- Footer -->
    <footer class="ui inverted vertical segment index-footer-text-style" th:replace="_fragments :: footer">
        <div class="ui center aligned container">
            <div class="ui inverted section divider"></div>
            <p class="index-opacity-soft">Copyright © 2019 Kamikid's Blog</p>
            <p class="index-opacity-soft">Designed by Kamikid with Semantic UI</p>
        </div>
    </footer>

    <!-- import jquery and semantic ui js -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <!--Hamburger button function-->
    <script>
        $('.menu.toggle').click(function () {
                    $('.mobile-item').toggleClass("index-mobile-hide");

        })
    </script>
</body>
</html>